.header {
  color: white;
  background: rgba(0,0,0,0.7);
  position: relative;
}

.logo {
  font-family: "Great Vibes";
  padding: 5px 20px;
}

.main-nav {
  ul {
    padding: 0;
  }
  li {
    font-size: 16px;
    list-style: none;
    &:hover {
      background: rgba(255, 155, 62, 0.7);
    }
  }
  a {
    color: white;
    display: block;
    padding: 8px 0 8px 20px;
    &:hover {
      text-decoration: none;
    }
  }
}

.date-location {
  position: absolute;
  left: 20px;
  bottom: 20px;
  .date {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
  }
}
