.header {
  color: white;
  background: rgba(49,79,113,0.85);
  position: relative;
}

.logo {
  font-family: "Great Vibes";
  padding: 5px 20px;
}

.main-nav {
  ul {
    padding: 0;
  }
  li {
    font-size: 16px;
    list-style: none;
    transition: .2s;
    @include bp('baby-bear') {
      display: none;
    }
    &.toggle-menu {
      display: none;
      text-align: center;
      @include bp('baby-bear') {
        display: block;
      }
    }
    &:hover, .active {
      background: rgba(181, 240, 255, 0.7);
    }
  }
  a {
    color: white;
    display: block;
    padding: 8px 20px;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-nav.open {
  li {
    @include bp('baby-bear') {
      display: block;
    }
  }
}

.date-location {
  padding: 0 20px 20px 20px;
  margin-bottom: 15px;
  .date {
    float: left;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
  }
  .location {
    font-weight: 700;
    float: right;
  }
}
