@import url(http://fonts.googleapis.com/css?family=Great+Vibes|Roboto:400,500,300,300italic);

@import 'mixins';
@import 'structure';
@import 'header';
@import 'rsvpform';
@import 'venuedresscode';

//Intro

.intro {
  p {
    font-style: italic;
    font-size: 20px;
  }
}

.meal-selection {
  @include centerer;
}

//ADMIN

.admin {
  background: white;
  padding: 20px;
}

//Questions

.questions {
 background: white;
 padding: 15px;
}

.question {
  background: white;
  padding: 15px;
}
