@import url(http://fonts.googleapis.com/css?family=Great+Vibes|Roboto:400,500,300);

@import 'mixins';
@import 'structure';
@import 'header';
@import 'rsvpform';

.meal-selection {
  @include centerer;
}

//ADMIN

.admin {
  background: white;
  padding: 20px;
}

//Questions

.questions {
 background: white;
 padding: 15px;
}

.question {
  background: white;
  padding: 15px;
}
